<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Card</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="signup-card">
      <img
        src="../static/Logo.png"
        alt="Logo"
        style="display: block; margin: 0 auto 20px; width: 100px; height: auto"
      />
      <h2 style="text-align: center; margin-top: 0">Welcome to Optibreed</h2>
      <button id="close-card" style="float: right">X</button>
      <form>
        <input type="text" placeholder="Username" required />
        <input type="email" placeholder="Email" required />
        <input type="password" placeholder="Password" required />
        <input type="password" placeholder="Confirm Password" required />
        <button type="submit">Sign Up</button>
      </form>
      <div class="divider">OR</div>
      <div
        id="g_id_onload"
        data-client_id="461857808328-kqjsvvv14qrl4be2a48qf5sqp2v44qvj.apps.googleusercontent.com"
        data-context="use"
        data-ux_mode="popup"
        data-login_uri="http://localhost:8000/google/login/callback"
        data-auto_prompt="false"
      ></div>

      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left"
      ></div>
      <button type="button" class="google-signin">Continue with Google</button>
      <div style="text-align: center; display: flex">
        <p style="margin: 32px auto; color: #fff">
          Already a member? <a href="/login">Log in</a>
        </p>
      </div>
    </div>
    <script src="https://accounts.google.com/gsi/client" async></script>
  </body>
</html>
