<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Room Details</title>
</head>
<body>
    <h1>Room Details</h1>
    <p><strong>User:</strong> {{ room.User.username }}</p>
    <p><strong>Material Name:</strong> {{ room.Material_name }}</p>
    <p><strong>Min Temperature:</strong> {{ room.Min_Temperature }}</p>
    <p><strong>Max Temperature:</strong> {{ room.Max_Temperature }}</p>
    <p><strong>Min Humidity:</strong> {{ room.Min_Humidity }}</p>
    <p><strong>Max Humidity:</strong> {{ room.Max_Humidity }}</p>
    <p><strong>Min Light Intensity:</strong> {{ room.Min_Lightintensity }}</p>
    <p><strong>Max Light Intensity:</strong> {{ room.Max_Lightintensity }}</p>
</body>
</html>
