body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f2f5;
}

.signup-card {
  /* display: none; */
  height: 80vh;
  width: 30%;
  min-width: 350px;
  position: relative;
  background: #b4b4b8;
  padding: 20px;
  border-radius: 32px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}

#close-card {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
}

form input,
form button {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 16px;
}

/* .helptext,
ul {
  display: none;
} */

form button {
  /* margin-bottom: 8px; */
  background-color: #2e6da4;
  color: white;
  border: none;
}

form button:hover {
  background-color: #204d74;
}

.divider::before,
.divider::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  top: 50%;
  width: 45%;
  height: 1px;
  background: #fff;
}

.divider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  margin-bottom: 16px;
}

.divider::before {
  margin-right: 0.5em;
}

.divider::after {
  margin-left: 0.5em;
}

.google-signin {
  width: 100%;
  padding: 10px;
  background-color: #db4437; /* Google's brand color */
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 16px; /* Add some space between the buttons */
}

.google-signin:hover {
  background-color: #a3321d;
}
