{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptiBreed - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'account/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container-fluid bg-light vh-100 d-flex flex-column justify-content-center align-items-center">
        <div class="row w-100">
            <div class="col-md-6 text-center">
                <img id="hero" class="img-fluid" src="{% static 'hero.jpeg' %}" alt="Hero Image">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
                <h1 class="display-4 font-weight-bold">Revolutionize Your Breeding Program</h1>
                <p class="lead">OptiBreed offers real-time monitoring and intelligent alerts to ensure the optimal storage conditions for your breeding materials.</p>
                <div>
                    <a class="btn btn-primary btn-lg mr-2" href="{% url 'optibreed:signup' %}">Get Started</a>
                    <a class="btn btn-outline-secondary btn-lg" href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
    {% block extra_body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
