<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}Optibreed{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include "./dependencies/css.html" %}
  {% block styles %}{% endblock %}
  <!-- Favicons -->
</head>

<body>
  <div class="container">
    {% if user.is_authenticated %}
      <!-- Navigation -->
      {% include './components/navigation.html' %}
      
      <div class="main">
        <!-- Header -->
        {% include './components/topnav.html' %}
    {% else %}
      <!-- Navbar for unauthenticated users -->
      {% include '../public/components/navbar.html' %}
      
      <div class="main p-4">
    {% endif %}
        <!-- Main Content -->
        {% block content %}
        {% endblock %}
        
        <!-- Footer -->
        {% include './components/footer.html' %}
      </div>
  </div>
  
  {% include "./dependencies/js.html" %}
</body>
</html>
