<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}Optibreed{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include "./dependencies/css.html" %}
  <!-- {% block styles %}{% endblock %} -->
  <!-- Favicons -->
</head>

<body>
  {% if user.is_authenticated %}
  <!-- Header -->
  {% include './components/topnav.html' %}
  <!-- Navigation -->
  {% include './components/navigation.html' %}

  {% else %}
  <!-- Navbar for unauthenticated users -->
  {% include '../public/components/navbar.html' %}
  {% endif %}

  <!-- Main Content -->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  {% include './components/footer.html' %}


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% include "./dependencies/js.html" %}
</body>

</html>

