{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="main" id="main">
    <!-- Page Title Section -->
    <div class="pagetitle mb-4">
        <h1>Notifications Details</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'optibreed:dashboard' %}">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="{% url 'notifications:details' notification.id %}">Notifications</a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-header">
            <h2>Notification Details</h2>
        </div>
        <div class="card-body">
            {% if notification %}
            <p class="card-text"><strong>Message:</strong> {{ notification.message }}</p>
            <p class="card-text"><strong>Timestamp:</strong> {{ notification.timestamp }}</p>
            <p class="card-text"><strong>Status:</strong> {{ notification.status }}</p>
            <div class="actions mt-3">
                <form action="{% url 'notifications:update-status' notification.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Mark as Read</button>
                </form>
                <form action="{% url 'notifications:delete' notification.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            {% else %}
            <p>Notification details not available.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
