{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center sticky-top" style="height: 80px;">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="{% url 'optibreed:index' %}" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="{% static 'path_to_logo.png' %}" alt=""> -->
      <h1 class="sitename text-primary" style="color: #5FC580 !important">OptiBreed</h1>
    </a>
 
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'optibreed:index' %}" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#get-started">Get Started</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li class="dropdown">
          <a href="#"><span class="btn-getstarted">Account</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="{% url 'optibreed:login' %}">Login</a></li>
            <li><a href="{% url 'optibreed:signup' %}">Register</a></li>
          </ul>
        </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>



  </div>
</header><!-- End Header -->

<!-- AOS (Animate On Scroll) Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
  AOS.init();
</script>
