{% extends "core/base.html" %}

{% block content %}
<div id="main" class="main mt-5">
  <div class="card shadow-sm">
    <div class="pagetitle p-4">
      <h1 class="display-4">Add Room</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'optibreed:dashboard' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'optibreed:rooms' %}">Rooms</a></li>
          <li class="breadcrumb-item active">Add Room</li>
        </ol>
      </nav>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
