{% extends "core/base.html" %}

{% block content %}
<div id="main" class="main mt-5">
    <div class="pagetitle m-lg-4">
      <h1>Rooms</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'optibreed:dashboard' %}">Home</a>
          </li>
          <li class="breadcrumb-item active"><a href="{% url 'optibreed:rooms' %}">Rooms</a></li>
          <li class="breadcrumb-item active"><a href="{% url 'optibreed:add_room' %}">Add-room</a></li>
        </ol>
      </nav>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
