{% extends "core/base.html" %} {% load static %} {% block content %}
<div id="main" class="main mt-5">
  <div class="card mb-4">
    <div class="pagetitle m-lg-4">
      <h1>Room: {{ room.name }}</h1>
      <p class="text-muted">Material: {{ room.Material_name }}</p>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'optibreed:dashboard' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">Rooms</li>
          <li class="breadcrumb-item active">Room Details</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h2>Current Conditions</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Temperature</h5>
              <h1 id="temperature" class="display-4">latest-condition</h1>
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-muted">MIN</p>
                  <p>{{ room.Min_Temperature }}°C</p>
                </div>
                <div>
                  <p class="text-muted">MAX</p>
                  <p>{{ room.Max_Temperature }}°C</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Humidity</h5>
              <h1 id="humidity" class="display-4">latest-condition</h1>
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-muted">MIN</p>
                  <p>{{ room.Min_Humidity }}%</p>
                </div>
                <div>
                  <p class="text-muted">MAX</p>
                  <p>{{ room.Max_Humidity }}%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Light Intensity</h5>
              <h1 id="light" class="display-4">latest-condition</h1>
              <div class="d-flex justify-content-between">
                <div>
                  <p class="text-muted">MIN</p>
                  <p>{{ room.Min_Lightintensity }} lux</p>
                </div>
                <div>
                  <p class="text-muted">MAX</p>
                  <p>{{ room.Max_Lightintensity }} lux</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="charts" class="mt-5">
        <div class="chart-container mb-5">
          <h3>Temperature Over Time</h3>
          <canvas id="temperatureChart" class="w-100"></canvas>
        </div>
        <div class="chart-container mb-5">
          <h3>Humidity Over Time</h3>
          <canvas id="humidityChart" class="w-100"></canvas>
        </div>
        <div class="chart-container mb-5">
          <h3>Light Intensity Over Time</h3>
          <canvas id="lightIntensityChart" class="w-100"></canvas>
        </div>
      </div>

      <h2 class="text-center">Conditions</h2>
      <div class="d-flex justify-content-between mb-3">
        <div>
          <label for="filter">Filter:</label>
          <select id="filter" class="form-select" style="width: auto">
            <option value="10">Last 10 minutes</option>
            <option value="30">Last 30 minutes</option>
            <option value="60">Last 1 hour</option>
          </select>
        </div>
        <div>
          <label for="entries">Show:</label>
          <select id="entries" class="form-select" style="width: auto">
            <option value="10">10 entries</option>
            <option value="25">25 entries</option>
            <option value="50">50 entries</option>
          </select>
        </div>
      </div>

      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Temperature (°C)</th>
            <th>Humidity (%)</th>
            <th>Light Intensity (lx)</th>
          </tr>
        </thead>
        <tbody>
          {% for condition in conditions %}
          <tr>
            <td>{{ condition.Timestamp }}</td>
            <td>{{ condition.Temperature }}</td>
            <td>{{ condition.Humidity }}</td>
            <td>{{ condition.Lightintensity }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const roomId = {{ room.id }};
  const interval = 120000; // 120 seconds

  async function fetchLatestCondition() {
      try {
          const response = await fetch(`/api/latest-condition/${roomId}/`);
          if (response.ok) {
              const data = await response.json();
              const temperature = Math.round(data.Temperature);
              const humidity = Math.round(data.Humidity);
              const light = Math.round(data.Lightintensity);

              document.getElementById('temperature').innerText = `${temperature}°C`;
              document.getElementById('humidity').innerText =  `${humidity}%`;
              document.getElementById('light').innerText = `${light} lux`;

              // Temperature color logic
              if (temperature < {{ room.Min_Temperature }}){
                  document.getElementById('temperature').style.color = 'blue';
              } else if (temperature > {{ room.Max_Temperature }}){
                  document.getElementById('temperature').style.color = 'red';
              } else {
                  document.getElementById('temperature').style.color = 'green';
              }

              // Humidity color logic
              if (humidity < {{ room.Min_Humidity }}){
                  document.getElementById('humidity').style.color = 'blue';
              } else if (humidity > {{ room.Max_Humidity }}){
                  document.getElementById('humidity').style.color = 'red';
              } else {
                  document.getElementById('humidity').style.color = 'green';
              }

              // Light intensity color logic
              if (light < {{ room.Min_Lightintensity }}){
                  document.getElementById('light').style.color = 'blue';
              } else if (light > {{ room.Max_Lightintensity }}){
                  document.getElementById('light').style.color = 'red';
              } else {
                  document.getElementById('light').style.color = 'green';
              }

          } else {
              document.getElementById('latest-condition').innerText = 'Failed to fetch the latest condition.';
          }
      } catch (error) {
          document.getElementById('latest-condition').innerText = 'Error fetching the latest condition.';
      }
  }

  // Fetch the latest condition immediately and then at intervals
  fetchLatestCondition();
  setInterval(fetchLatestCondition, interval);

  const labels = {{ labels|safe }};
  const temperatures = {{ temperatures|safe }};
  const humidities = {{ humidities|safe }};
  const lightIntensities = {{ light_intensities|safe }};

  // Temperature Chart
  var ctxTemp = document.getElementById('temperatureChart').getContext('2d');
  var temperatureChart = new Chart(ctxTemp, {
      type: 'line',
      data: {
          labels: labels,
          datasets: [{
              label: 'Temperature (°C)',
              data: temperatures,
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1,
              fill: false
          }]
      },
      options: {
          scales: {
              x: {
                  display: true,
                  title: {
                      display: true,
                      text: 'Timestamp'
                  }
              },
              y: {
                  display: true,
                  title: {
                      display: true,
                      text: 'Temperature (°C)'
                  }
              }
          }
      }
  });

  // Humidity Chart
  var ctxHum = document.getElementById('humidityChart').getContext('2d');
  var humidityChart = new Chart(ctxHum, {
      type: 'line',
      data: {
          labels: labels,
          datasets: [{
              label: 'Humidity (%)',
              data: humidities,
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1,
              fill: false
          }]
      },
      options: {
          scales: {
              x: {
                  display: true,
                  title: {
                      display: true,
                      text: 'Timestamp'
                  }
              },
              y: {
                  display: true,
                  title: {
                      display: true,
                      text: 'Humidity (%)'
                  }
              }
          }
      }
  });

  // Light Intensity Chart
  var ctxLight = document.getElementById('lightIntensityChart').getContext('2d');
  var lightIntensityChart = new Chart(ctxLight, {
      type: 'line',
      data: {
          labels: labels,
          datasets: [{
              label: 'Light Intensity (lx)',
              data: lightIntensities,
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              fill: false
          }]
      },
      options: {
          scales: {
              x: {
                  display: true,
                  title: {
                      display: true,
                      text: 'Timestamp'
                  }
              },
              y: {
                  display: true,
                  title: {
                      display: true,
                      text: 'Light Intensity (lx)'
                  }
              }
          }
      }
  });
</script>
{% endblock %}
