{% load static %}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'optibreed:dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link" href="{% url 'optibreed:rooms' %}">
          <i class="ri-home-5-fill"></i>
          <span>Rooms</span>
        </a>
      </li><!-- End Rooms Nav -->

      <li class="nav-item">
        <a class="nav-link" href="{% url 'notifications:list' %}">
          <i class="ri-message-3-fill"></i>
          <span>Notifications</span>
        </a>
      </li><!-- End Notifications Nav -->

      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="ri-24-hours-line"></i>
          <span>Activity log</span>
        </a>
      </li><!-- End Activity Log Nav -->

      <li class="nav-item">
        <a class="nav-link" href="{% url 'optibreed:generate_report' %}">
          <i class="ri-chat-history-fill"></i>
          <span>Report</span>
        </a>
      </li><!-- End Report Nav -->

      <li class="nav-heading">Info Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'optibreed:profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'optibreed:logout' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Logout Nav -->

    </ul>

</aside><!-- End Sidebar-->
